<table class="table table-striped table-hover">
  <thead>
  <tr>
    <td>Due date</td>
    <td>Debitor</td>
    <td>Amount</td>
    <td>Status</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of data?.content; let i=index" [ngClass]="{success: invoice.status == 'PAID', warning: invoice.status != 'PAID' && isOverDue(invoice), danger: invoice.status == 'WRITE_OFF', canceled: invoice.status == 'CANCELED'}">
    <td>{{invoice.dueDate | date:'dd.MM.yyyy'}}</td>
    <td>{{invoice.clientAddress.name}}, {{invoice.clientAddress.company}}</td>
    <td>{{invoice.amount | currency:'CHF'}}</td>
    <td>{{invoice.status}}</td>
    <td>
      <a target="_blank" href="/api/invoices/report/{{invoice.id}}"><i class="glyphicon glyphicon-print"></i></a>
      <i class="glyphicon glyphicon-usd" (click)="setStatus(invoice.status == 'UNPAID' ? 'PAID' : 'UNPAID', invoice)"></i>
      <i class="glyphicon glyphicon-ban-circle" (click)="setStatus('CANCELED', invoice)"></i>
    </td>
  </tr>
  </tbody>
</table>

<div class="text-center">
  <button class="btn" [ngClass]="{'btn-primary': !data?.first}" [disabled]="data?.first" (click)="first()">
    <i class="glyphicon glyphicon-step-backward"></i>
  </button>
  <button class="btn" [ngClass]="{'btn-primary': !data?.first}" [disabled]="data?.first" (click)="prev()">
    <i class="glyphicon glyphicon-chevron-left"></i>
  </button>
  <button class="btn" [ngClass]="{'btn-primary': !data?.last}" [disabled]="data?.last" (click)="next()">
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
  <button class="btn" [ngClass]="{'btn-primary': !data?.last}" [disabled]="data?.last" (click)="last()">
    <i class="glyphicon glyphicon-step-forward"></i>
  </button>
</div>
